################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Canvas/obj
/TestProject_ClientSide/obj
/TestProject_Components/obj
/TestProject_ServerSide/obj
/Tests_Blazor.Canvas/obj
